@import '../../../res/styles/colors.less';
@import '../../../res/styles/fonts.less';

.text-container {
	word-wrap: break-word;
}

.username {
	padding-left: 5px;
	margin-left: -5px;
}

button.like {
	padding: 0;
}

button.reply {
	color: @lightText;
	font-size: @small;
}
