.container {
	display: flex;
	flex-direction: row;

	margin-top: 4px;
	padding-left: 16px;
	padding-right: 16px;
}

.animate {
	animation-name: like;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-direction: normal;
}

.first-button {
	margin-left: -8px;
}

.save-button {
	margin-left: auto;
	margin-right: -10px;
}

@keyframes like {
    0% { transform: scale(1) }
	33% { transform: scale(1.2) }
	67% { transform: scale(0.95) }
	100% { transform: scale(1) }
}
