@import '../../../res/styles/colors.less';
@import '../../../res/styles/fonts.less';

.timestamp {
	color: @lightText;
	text-transform: uppercase;
	text-decoration: none;
    letter-spacing: .2px;
	font-size: @x-small;
	line-height: 20px;
}
